
.cards{ 
    min-height: 15vh;
    flex: 0 1 calc(33% - 0.5em);
    background-color: aliceblue;
    color:rgb(49, 49, 49);
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 2vh;
    padding-top: 3vh;
    box-shadow: rgb(134, 134, 134) .1em .2em .5em 0;
}

.card-tile { 
    justify-content: space-around;
    text-align: center;
    align-content: center;
    margin: 1vh 1vw;
}

.card-title { 
    padding-top: 1vh;
}

.single-card { 
    display: flex;
    flex-direction: row;
}

.index-btn  {
    border: 0;
    color: aliceblue;
    background-color: rgb(36,36,36);
    margin-top: 12vh;
    font-size: 1em;
}

.del-btn { 
    padding: 5px 7px;
    border: 0;
    border-radius: 50%;
    font-size: .8em;
    color: aliceblue;
    background-color: rgb(253, 41, 41);
}

@media screen and (max-width: 1000px) {

    .cards{
        flex: 0 1 calc(100% - 1em);
    }
    
}