
.cards{ 
    min-height: 15vh;
    flex: 0 1 calc(33% - 0.5em);
    background-color: aliceblue;
    color:rgb(49, 49, 49);
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 2vw;
}

.card-tile { 
    justify-content: space-around;
    text-align: center;
    align-content: center;
    margin: 1vh 1vw;
}

.card-title { 
    padding-top: 1vh;
}


@media screen and (max-width: 1000px) {

    .cards{
        flex: 0 1 calc(100% - 1em);
    }
    
}