.App {
  height: 80vh;
  width: 95vw;
  color:aliceblue;
  text-align: center;
}

.main-area { 
  display: flex; 
  flex-direction: row;
}


.cat-container {
  background-color: rgb(175, 175, 175);
  margin-left: 2vw;
  width: 30vw;
  height: inherit;
  min-width: 10vw;
  min-height: 50vh;
  border-radius: 3px;
}

.card-container { 
  background-color: rgb(175, 175, 175);
  margin: 0  2vw;
  width: 80vw;
  height: inherit;
  min-width: 60vw;
  min-height: 50vh;
  border-radius: 3px;
}