.card-body {
    display: flex; 
    flex-direction: column;
    color: rgb(49, 49, 49);
    background-color: aliceblue;
    min-height: 25vh;
    min-width: 55vh;
    margin: 0 2vw;
    justify-content: center;
    align-items: center;
}

.card-options { 
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    justify-content: space-between;
    width: 25vw;
}

.edit-btn {
    border: 0;
    color: rgb(49, 49, 49);
    background-color: aliceblue;
    font-size: 1em;
    margin-top: 1vh;
    padding-top: 1vh;
}

.delete-btn { 
    background-color: red;
    color: aliceblue;
    border: 0;
    border-radius: 2px;

}


@media screen and (max-width: 1000px) {
    .card-body { 
        margin-top: 1vh;
    }
}